.content {
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 0 100px;

  .left,
  .right {
    width: 240px;
    min-width: 240px;
    border-left: solid 1px black;
    border-right: solid 1px black;
  }

  .content-body {
    flex: 1;
  }
}
