.content {
  height: 800px;
  background: lightcyan;
  display: flex;
  padding: 0 4vw;

  .left,
  .right {
    width: 12vw;
    border-left: solid 1px black;
    border-right: solid 1px black;
  }

  .content-body {
    flex: 1;
  }
}
