.content {
  display: flex;
  padding: 16px 140px 0 100px;

  .left {
    width: 200px;
    min-width: 200px;
  }

  .right {
    width: 400px;
    min-width: 400px;
  }

  .content-body {
    margin: 0 24px;
    flex: 1;
  }
}
